doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/login.css")

  body
    
    form(action="/sign-up" method='POST')
      h1=message
      p.error=error_username
      label(for="name") Username
      input(type="text" name="username" id="username" required)
      p.error=error_password
      label(for="password") Password
      input(type="password" name="password" id="password" required)
      label(for="password") Conferma Password
      input(type="password" name="conf_password" id="conf_password" required)
      br
      button(type="submit") Sign Up
      a(href='/') Log In
    

